@import url("style.css");

#baseinfo-theme, 
#baseinfo-subject{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

div[id^=baseinfo-]{
    /* border: 2px solid lightgray; */
    padding-top: 10px;
    background-color: #eee;
}