@import url("style.css");
@import url("design-task-style.css");
@import url("design-activity-style.css");

.row{
    /* max-height: 100%; */
    min-height: 520px;
    display: -moz-box;
    display: -webkit-box;
}

div[id^=design-]{
    background-color: white;
}

.row > div[id^=design-]:not(:first-child):not(:last-child){
    border-left: 2px solid #999;
    border-right: 2px solid #999;
}

div .design-header{
    background-color: skyblue;
    padding-top: 5px; 
    margin-right: -15px;
    margin-left: -15px;
}

div .structure-header{
    background-color: #DDD;
    padding-top: 5px; 
    margin-right: -15px;
    margin-left: -15px;
}








/* 显示学习目标的区域
------------------------------------------*/
#design-objectives{
    height: 100%;
    max-height: 100%;
}









/* 显示任务节点的区域
------------------------------------------*/
#design-tasksZone{
    border: none;
    /* background-color: red; */
}

#design-activities-zone{
    height: 920px;
    /* height: 100%; */
    /* height: 510px; */
    /* background-color: pink; */
    overflow-y: scroll;
}

#design-tasksZone{
    max-height: 920px;
    /* height: 100%; */
    /* overflow-y: scroll; */
}









/* 树形控件区域
------------------------------------*/
#design-structureZone .tree-title a,
#design-structureZone .tree-title a:hover,
#design-structureZone .tree-title a:active,
#design-structureZone .tree-title a:visited{
    text-decoration: none !important;
}

#design-structureZone .tree-nodename{
    font-weight: bold;
}

#design-structureZone .tree-heading{
    font-size: 10px;
}

#design-structureZone .tree-panel-node .tree-heading{
    font-size: 9px;
}

#design-structureZone .tree-panel-sub .tree-heading{
    font-size: 8px;
}

#design-structureZone .tree-panel-node{
    margin-bottom: 10px;
}

#design-structureZone .tree-panel-sub{
    margin-bottom: 8px;
}

#design-structureZone .tree-body{
    padding-left: 7px;
    padding-right: 7px;
    margin: 0px;
}








/*切换节点的span
--------------------------------------*/
span.togglebtn{
    display: block;
    font-size: 110%;
    color: #666;
}

span.togglebtn:hover{
    cursor: pointer;
}








/* 节点过渡的效果等
----------------------------------------*/
@keyframes firstA{
    0% { width: 16.67%;}
    75% { width: 58.33%;}
    100% { width: 66.67%;}
}
@keyframes firstB{
    0% { width: 33.33%;}
    75% { width: 25%;}
    100% { width: 16.67%;}
}
@keyframes firstC{
    0% { width: 50%;}
    75% { width: 25%;}
    100% { width: 16.67%;}
}

/* type-1- */
/* 2 4 6 -> 8 2 2 */
#design-structure.type-1-A{
    width: 66.67%;
    animation: firstA 0.2s;
}

#design-tasks.type-1-B{
    width: 16.67%;
    animation: firstB 0.2s;
}

#design-activities.type-1-C{
    width: 16.67%;
    animation: firstC 0.2s;
}








@keyframes re-firstA{
    0% { width: 66.67%;}
    75% { width: 25%;}
    100% { width: 16.67%;}
}
@keyframes re-firstB{
    0% { width: 16.67%;}
    75% { width: 41.67%;}
    100% { width: 33.33%;}
}
@keyframes re-firstC{
    0% { width: 16.67%;}
    75% { width: 58.33%;}
    100% { width: 50%;}
}

/* re-type-1- */
/* 2 4 6 <- 8 2 2 */
#design-structure.re-type-1-A{
    width: 16.67%;
    animation: re-firstA 0.2s;
}

#design-tasks.re-type-1-B{
    width: 33.33%;
    animation: re-firstB 0.2s;
}

#design-activities.re-type-1-C{
    width: 50%;
    animation: re-firstC 0.2s;
}