
/* 学习活动区域 - zone
-----------------------------------------*/
div.design-act-zone,
div.design-act-subZone{
    margin: 0px auto;
    margin-bottom: 20px;
    width: 300px;
}

div.design-act-subZone{
    width: 240px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

div.design-act-zone .design-act-zone-title,
div.design-act-subZone .design-act-zone-title{
    font-size: 13px;
}

.design-act-zone-hassub{
    margin: 0px auto;
    text-align: center;
    top: 20px;
    border-top: 1px solid #EEE;
}

.design-act-zone-hassub span{
    font-size: 25px;
    display: block;
    color: #0099CC !important;
}

div.design-act-zone .design-act-zone-title span,
div.design-act-subZone .design-act-zone-title span{
    font-size: 16px;
    font-weight: bold;
}

div.design-act-zone-content .init-act button{
    display: block;
    margin: 0px auto;
}








/* 学习活动区域 - node
----------------------------*/
div.design-act-node{
    border-radius: 15px;
}

div.design-act-node .panel-heading{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-size: 10px;
}

div.design-act-node-wrapper > span.glyphicon{
    font-size: 130%;
    display: block;
    color: #FF6666;
    margin-left: 50%;
}

div.design-act-node-wrapper > span:last-child{
    top: -18px;
}

div.design-act-node-wrapper > span.glyphicon:hover{
    font-size: 150%;
    color: red;
}

div.design-act-node-wrapper span.glyphicon-remove{
    top: -15px;
    font-size: 150%;
    color: red;
}








/* 选择活动菜单
---------------------------------*/
div.design-act-zone div.menu-box,
div.design-act-subZone div.menu-box{
   
}

div.design-initActivityZone{
    display: inline-block;
    position: absolute;
    left: 55px;
    margin-top: 10px;
    width: 270px;
    z-index: 300;
}