/*
 * author: Shepherd.Lee
 * 学习目标与核心问题区域
 * 需要在pdf-style.css 导入
 * Date: 2019-09-19
 */

#coreQuestionZone h4{
    color: #336699;
}

#coreQuestionZone th{
    color: #336699;
    font-weight: bold;
    text-align: center;
}

#coreQuestionZone td.coreQuestion-subject{
    width: 60px;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    color: #336699;
}

#coreQuestionZone td.coreQuestion-standard{
    color: #336699;
    line-height: 170%;
}

#coreQuestionZone td.coreQuestion-question{
    line-height: 170%;
}

#coreQuestionZone td.coreQuestion-question span.coreQuestion-number{
    font-weight: bold;
    color: #336699;
}

#coreQuestionZone td.coreQuestion-question span.coreQuestion-number:after{
    content: ": ";
}