@import url("pdf-cover.css");
@import url("pdf-theme.css");
@import url("pdf-coreQuestion.css");
@import url("pdf-taskModal.css");
@import url("pdf-course.css");

#preview-container{
    width: 70%;
    margin-left: 15%;
    background-color: #DDD;
}

#preview-container > *{
    background-color: white;
}

#preview-container main > article{
    margin: 30px 25px 20px 25px;
}

#preview-container
{
	columns:500px 1;
	-webkit-columns:500px 1; /* Safari and Chrome */
	-moz-columns:500px 1; /* Firefox */
}