/*
 * author: Shepherd.Lee
 * 拆分出来的学习任务(学习评价)区域的样式
 * 需要在design-style.css 导入
 * Date: 2019-07-27
 */

/* 学习评价区域的重选模式按钮的样式
-------------------------------------------*/
#design-tasks #design-tasks-resetModal{
    position: absolute;
    left: 100%;
    display: block;
    margin-left: -90px;
    margin-top: -29px;
    border-radius: 18px;
    outline: none;
}









/* 节点本身的效果
------------------------------------------*/
#design-tasksZone div.node{
    text-align: center;
    position: relative;
}

/* #design-tasksZone div.node{
    border: 1px solid pink;
}

#design-tasksZone div.node div.img-zone{
    border: 1px solid skyblue;
}

#design-tasksZone div.node div.node-content{
    border: 1px solid  purple;
}

#design-tasksZone div[id ^= "subTaskZone-"] div.node div.node-content{
    border: 1px solid  purple;
} */

#design-tasksZone div.node .node-wrap{
    border: 1px solid skyblue;
    border-radius: 25px;
    border-width: 1px 2.5px 3.5px 5px;
    padding: 10px 0px 10px 0px;
    width: 90%;
}

#design-tasksZone div[id ^= "subTaskZone-"] div.node .node-wrap{
    border: 1px solid  #FFCCCC;
    border-radius: 25px;
    border-width: 1px 2px 3.5px 5px;
    padding: 10px 0px 10px 0px;
    width: 90%;
} 

#design-tasksZone div.node .node-wrap:hover,
#design-tasksZone div[id ^= "subTaskZone-"] div.node .node-wrap:hover{
    border: 3px solid #FF6666;
}


#design-tasksZone div.node img{
    width: 55%;
    display: block;
    padding: 5px;
    margin: 0px auto;
    /* border: 1px solid yellow; */
}

#design-tasksZone div .selected-parent{
    border-top-left-radius: 120px;
    border-bottom-left-radius: 120px;
    padding: 10px 40.7px 10px 0px;
    margin-right: -40.7px;
    margin-left: -10px;
    border-right-color: white;
    background-color: #F4F4F4;
    /* background-color: pink; */
}

#design-tasksZone div .selected-parent:hover{
    width: 150%;
}

#design-tasksZone div.node img:hover{
    cursor: pointer;
}

#design-tasksZone div.node .nodename{
    position: relative;
    font-weight: bold;
    left: 5px;
}

#design-tasksZone div.node > span{
    font-size: 25px;
    color: #ccc;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 20px;
}

#design-tasksZone div.node > span.hasSubNode{
    color: red;
    font-size: 27px;
}

#design-tasksZone div.node:last-child > span{
    display: none;
}

#design-tasksZone div.first-level{
    margin-left: calc(50% - 20.83%);
}

#design-tasksZone > div:first-child:not(.first-level){
    margin-left:45px;
}

#design-tasksZone div.taskZone{
    padding-top: 20px;
    padding-bottom: 20px;
}

#design-tasksZone div.taskZone.hover{
    border: 2.5px dashed #FF6666;
}


#design-tasksZone div.taskZone .delete-task{
    color: red !important;
    position: absolute;
    left: 92%;
    top: 0px;
    z-index: 100;
}

#design-tasksZone div.taskZone .delete-task:hover{
    font-size: 140%;
    /* left: 80%; */
    /* top: -15px; */
}










/*------子任务节点-------*/
#design-tasksZone div[id ^= "subTaskZone-"]{
    height: 100%;
    /* background-color: pink; */
    background-color: #F4F4F4;
    /* border: 12px solid #EEE; */
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 10px;
    border-radius: 95px;
}

#design-tasksZone div[id ^= "subTaskZone-"] img{
    width: 50%;
}









/* 子节点新建区域
------------------------------------------*/
#design-tasks{
    position: relative;
}

#design-tasksZone .design-initSubTaskZone{
    position: relative;
    text-align: left;
    margin: 0px;
    width: 170%;
    margin-left: -40%;
    z-index: 330;
}

#design-tasksZone .design-initSubTaskZone .panel{
    margin-top: 20px;
    border-radius: 0px 0px 20px 20px;
}

#design-tasksZone .design-initSubTaskZone::before{
    content: "//////";
    text-align: center;
    transform: scale(4,1.5);
    display: block;
    font-weight: bold;
    color: orange;
    font-size: 130%;
}









/* 节点编辑区域
------------------------------------------*/
#design-editTaskZone{
    position: absolute;
    width: 80%;
    left: 0px;
    top: 0px;
    margin: 150px 10% 0px 10%;
    z-index: 200;
}

#design-editTaskZone-body{
    max-height: 450px;
    overflow-y: scroll;
}

.design-editTaskZone button,
.design-initSubTaskZone button{
    width: 80px;
}

.design-editTaskZone .panel-title span:hover{
    cursor: pointer;
}

#taskCoreQuestion-SelectZone{
    text-align: left;
    margin-top: 10px;
    width: 67%;
    margin-right: 15px;
}

#taskCoreQuestion-ShowZone{
    text-align: left;
    margin-top: 10px;
}


/*核心问题区域的四种badge样式颜色*/
.badge-science{
    background-color: #FF6666;
}

.badge-technology{
    background-color: #FF9966;
}

.badge-engineering{
    background-color: #0099CC;
}

.badge-mathematics{
    background-color: #CCCCCC;
    
}