/*
 * author: Shepherd.Lee
 * 学习活动区域的样式 主要与节点样式相关
 * 需要在design-style.css 导入
 * Date: 2019-07-30
 */

/* 学习活动区域 - zone
-----------------------------------------*/
div.design-act-zone,
div.design-act-subZone{
    margin: 0px auto;
    margin-bottom: 20px;
    width: 400px;
}

div.design-act-subZone{
    width: 350px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

div.design-act-zone .design-act-zone-title,
div.design-act-subZone .design-act-zone-title{
    font-size: 13px;
}

div.design-act-zone .design-act-zone-icon,
div.design-act-subZone .design-act-zone-icon{
    width: 32px;
    height: 32px;
    display: inline-block;
    position: relative;
    top: -7.5px;
    left: -8.5px;
}

.design-act-zone-hassub{
    margin: 0px auto;
    text-align: center;
    top: 20px;
    border-top: 1px solid #EEE;
}

.design-act-zone-hassub span{
    font-size: 25px;
    display: block;
    color: #0099CC !important;
}

div.design-act-zone .design-act-zone-title span,
div.design-act-subZone .design-act-zone-title span{
    font-size: 16px;
    font-weight: bold;
}

div.design-act-zone-content .init-act button{
    display: block;
    margin: 0px auto;
}








/* 学习活动区域 - node
----------------------------*/
div.design-act-node{
    border-radius: 15px;
}

div.design-act-node .design-act-node-icon{
    width: 28px;
    height: 28px;
    display: inline-block;
    position: relative;
    top: -5.5px;
    left: -8.5px;
}

div.design-act-node .panel-heading{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-size: 10px;
}

div.design-act-node-wrapper > span.glyphicon{
    font-size: 130%;
    display: block;
    color: #FF6666;
    margin-left: 50%;
}

div.design-act-node-wrapper > span:last-child{
    top: -18px;
}

div.design-act-node-wrapper > span.glyphicon:hover{
    font-size: 150%;
    color: red;
}

div.design-act-node-wrapper span.glyphicon-remove{
    top: -15px;
    font-size: 150%;
    color: red;
}

div.design-act-node .panel-heading span.glyphicon-remove{
    display: inline-block;
    font-size: 2.3em;
    margin-top: -6px;
    padding: 2px 4px 2px 4px;
}

div.design-act-node .panel-heading span.glyphicon-remove:hover{
    font-size: 2.7em;
    margin-top: -8px;
    margin-left: 6px;
    margin-right: -2px;
}






/* 新建活动的选择活动菜单
---------------------------*/
div.design-initActivityZone{
    display: block;
    /* left: 55px; */
    width: 90%;
    margin-left: 5%;
}

div.design-initActivityZone .panel{
    border: none;
}

div.design-initActivityZone .panel-heading{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: 2px solid #d6e9c6;
}

div.design-initActivityZone .panel-body{
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 2px solid #d6e9c6;
    border-top-width: 0px;
}

div.design-initActivityZone .panel-body .radio{
    margin-left: 10%;
}
div.design-initActivityZone .panel-body .radio:hover{
    font-size: 105%;
}







/* 学习活动的活动节点样式
-------------------------------------*/
.design-act-node-wrapper .edit-activity-btn{
    border-radius: 20px;
    outline: none;
}

.design-act-node-wrapper .design-activity-name{
    font-size: 120%;
}

.design-act-node-wrapper .menu-box{
    display: inline-block;
    width: 110%;
    margin-top:6px;
    margin-left: -5%;
}

.design-act-node-wrapper .panel.panel-toggle{
    background-color: #FF8888;
    width: 80%;
    margin-left: 10%;
    color: white;
    box-shadow: 4px 4px 10px #CCC;
}

.design-act-node-wrapper .panel.panel-toggle:hover{
    background-color: #FF6666;
}

.design-act-node-wrapper .panel-toggle span.glyphicon{
    color: red;
    font-size: 145%;
    display: inline-block;
    margin-left: 4px;
    border-left: 3.5px solid white;
}












/* 学习活动的编辑菜单的样式
-------------------------------------*/
#design-editActivityZone{
    position: absolute;
    width: 86%;
    left: 0px;
    top: 0px;
    margin: 150px 7% 0px 7%;
    z-index: 400;
}

.design-editActivityZone-body{
    max-height: 450px;
    overflow-y: scroll;
}

.design-editActivityZone-body td textarea{
    width: calc(100% + 17px);
    height: 100%;
    margin: -8px;
    margin-bottom: -16px;
}

.design-editActivity-table tbody tr{
    vertical-align: middle;
    height: 50px;
}

.design-editActivity-table td:first-child{
    width: 80px;
    font-weight: bolder;
}

.design-editActivity-table td:first-child label{
    display: inline-block;
    height: 20px;
    margin-top: calc(50% + 10px);
    margin-left: 5px;
}

.design-editActivity-table thead{
    background-color: #dff0d8;
}

.editActivity-pyramidZone{
    position: relative;
}

.editActivity-img{
    position: absolute;
    left: -148px;
    top: 7px;
}