/*
 * author: Shepherd.Lee
 * 左侧学习目标的样式
 * 需要在design-style.css 导入
 * Date: 2019-07-26
 */

#objectives-zone div.objectives-rows-wrap{
    display: flex;
    flex-flow: column;
}







/* 课程主题表单 courseTheme区域
-----------------------------------*/
#courseTheme-people{
    /* 课程主题区域的 view 的参与人员的对齐修改 */
    /* margin-left: -25%; */
    margin-left: -16%;
}

#courseTheme-people > div label:not(:first-child),
#courseTheme-people > div div:last-child{
    /* 课程主题区域的 view 的参与人员的对齐修改 */
    /* left: -8%; */
}

#courseTheme-people > div{
    float: left;
    width: 50%;
    margin-right: -6%;
    margin-top: 4px;
    margin-bottom: 4px;
}

#courseTheme-people > div label{
    display:inline-block;
    margin-right: -6%;
}





/* 问题表单区域 questionDesign
-----------------------------------*/
#questionDesign form#questionDesign-realForm label.control-label{
    font-size: 125%;
}

#questionDesign-coreQuestion div.questionDesign-coreQuestion-eachQuestion label{
    /* font-size: 125%; */
    margin-left: -30px;
}

#questionDesign-coreQuestion div.questionDesign-coreQuestion-eachQuestion div.col-sm-10{
    width: calc(83.33% + 30px);
    position: relative;
    left: 15px;
}


#questionDesign-coreQuestion div.questionDesign-coreQuestion-eachQuestion div{
    margin-bottom: 5px;
}

form#questionDesign-realForm div.questionDesign-coreQuestion-eachQuestion ul{
    max-height: 158px; 
    overflow-y: scroll;
    border-bottom: 1px solid #ddd;
    width: 120%;
    margin-left: -20%;
    margin-top: 5px;
    margin-bottom: 0px;
}

form#questionDesign-realForm div.questionDesign-coreQuestion-eachQuestion ul li input{
    display: block;
    position: relative;

}

form#questionDesign-realForm li.coreQuestionListItem{
    height: 100%;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    border: none !important;
    /* border: 1px solid skyblue !important; */
}

form#questionDesign-realForm ul.coreQuestionList{
    border: 1.4px solid #DDD;
}

form#questionDesign-realForm .editCoreQuestion{
    /* visibility: hidden; */
    display: none;
}










/* 课程标准显示区域 questionDesign-courseStandard
-----------------------------------*/
#questionDesign-courseStandard label[for^="questionDesign-courseStandard-"]:hover{
    cursor: pointer;
}

#questionDesign-courseStandard legend:hover{
    cursor: pointer;
}

#questionDesign-courseStandard div label{
    font-size: 125%;
    margin-left: -15px;
}