@charset "utf-8";
/*
 * @Author: Shepherd.Lee 
 * @Date: 2020-04-13 14:38:28 
 * @Last Modified by: Shepherd.Lee
 * @Last Modified time: 2020-04-13 15:23:07
 */

//任务模式区域
%taskModel{
    h4{
        color: #336699;
    }
    li{
        position: relative;
        margin-right: 15px;

        .taskModal-image,
        .subTaskModal-image{
            width: 100px;
        }
        .taskModal-nodename,
        .subTaskModal-nodename{
            position: absolute;
            left: 20px;
        }
    }
}

#taskModalZone,
.subTaskModalZone{
    @extend %taskModel;
}