#target{
    margin-top: 20px;
}


/*formOld
------------------------------------------*/
#formOld .well{
    max-height: 450px;
    overflow-y: scroll;
}

#ul > li{
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
}

#ul li .badge{
    position: absolute;
    display: inline-block;
    top: 5px;
    left: 5px;
    background-color: #FFCC99;
}

#ul li .li-title{
    font-size: 110%;
    font-weight: bold;
    border-right: 3.2px solid #CCC;
}

#ul li .li-describe{
    border-top: 1px solid #EEE;
    padding-top: 6px;
    margin-top: 8px;
}

#ul li span{
    font-weight: normal;
}

#ul li button.btn-trigger:hover,
#ul li button.btn-trigger:active{
    outline: none;
}

#ul li button.btn-trigger{
    outline: none;
    width: 115.2%;
    margin-left: -7.6%;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 0px;
    margin-bottom: -17px;
    background-color: #fcf8e3 !important;
    border-color: #fcf8e3 !important;
    color:#8a6d3b;
}

#ul li span.glyphicon-chevron-down{
    display: inline-block;
    margin-left: 5px;
    position: relative;
    top: 3px;
}

#ul li .model-list{
    margin-top: 17px;
}

.taskModalZone li,
.subTaskModalZone li{
    position: relative;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.taskModalZone li .taskModal-image,
.subTaskModalZone li .subTaskModal-image{
    width: 70px;
}

.taskModalZone li .taskModal-nodename,
.subTaskModalZone li .subTaskModal-nodename{
    position: absolute;
    font-size: 80%;
    left: 14px;
}


/*lable标签的大小、位置、背景颜色更改，在css选择时，“+”代表相邻元素，即当前元素的下一元素*/
input[id ^= 'color-input'] + label{
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 2px;
    left: 15px;
    /* background: rgba(240, 84, 77, 1); */
    border: 1.5px solid #999;
    margin-top: 5px;
}
 
/*当input框为选中状态时，lable标签的样式，其中在css选择时，“：”表示当前input框的值，即checked；
      该部分主要对显示的“对号”的大限居中方式，显示颜色进行了设置*/
input[id ^= 'color-input']:checked + label::before{
    display: block;
    content: "\2714";
    text-align: center;
    font-size: 18px;
    margin-top: -5px;
    color: #FF6666;
}

input[type=checkbox]{
	visibility: hidden;
}





/*formNew
------------------------------------------*/
#formNew-left{
    width: 56%;
    height: 435px;
    overflow-y: auto;
}
#formNew-right{
    margin-left: -3px;
}

#formNew-right .panel{
    margin-top: -50px;
    width: 120%;
    /* height: 450px; */
    /* overflow-y: auto; */
}

#formNew-right .panel-body{
    height: 415px;
    overflow-y: auto;
}

#formNew-right .panel-footer{
    height: 30px;
    background-color: #fcf8e3;
    color:#8a6d3b;
    font-weight: normal;
    text-align: center;
}

#formNew-right .panel-footer label{
    position: relative;
    top: -12px;
}



#selectNodeZone li,
#selectedNodeZone li{
    position: relative;
    margin-left: 10px;
    margin-right: 15px;
    margin-top: -4px;
    margin-bottom: 50px;
}

#selectNodeZone li .taskModal-image{
    width: 100px;
}

#selectedNodeZone li .taskModal-image{
    width: 110px;
}

#selectNodeZone li .taskModal-nodename,
#selectedNodeZone li .taskModal-nodename{
    position: absolute;
    /* font-size: 80%; */
    left: 19px;
}

#selectNodeZone li span.badge{
    position: absolute;
    top: -9px;
    left: -18px;
    background-color: #FF6666;
}

#selectNodeZone .addSelectNode{
    width: calc(100% - 120px);
    position: absolute;
    left: 60%;
    top: 0%;
}

#selectNodeZone .addSelectNode span{
    font-size: 15px;
    top: -10px;
}

#selectNodeZone .addSelectNode p{
    border-bottom: 1px solid #DDD;
    padding-bottom: 5px;
    display: inline-block;
}

#selectNodeZone .addSelectNode span.tag{
    font-size: 80%;
    color: #666;
}

#selectNodeZone .addSelectNode span.glyphicon{
    position: absolute;
    top: 90%;
    left:45px;
}

#selectNodeZone .add-to-right{
    cursor: pointer;
}

#selectNodeZone .add-to-right:hover{
    color: #FF6666;
}

#selectedNodeZone li{
    margin-left: 44px;
}

#selectedNodeZone .back-to-left{
    position: absolute;
    cursor: pointer;
    top: 40%;
    left: -30px;
    color: #FF9966;
}

#selectedNodeZone .back-to-left:hover{
    color: #FF6666;
}




/*formNewNode
------------------------------------------*/
#panelNewNode{
    position: absolute;
    width: 100%;
    top: 35%;
}